*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face
{
    font-family: 'Bold-Norse';
    src: url(Norse-Bold.otf);
}
html
{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}
.left-side
{
    background-color: white;
    width: 521px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.odin
{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 145px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 22%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.odin #odin-logo
{
    width: 95px;
}
.odin-text
{
    font-family: 'Bold-Norse',sans-serif;
    font-weight: 900;
    font-size: 95px;
    color: #ddd;
}
.left-side #nature
{
    width: 130%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.right-side
{
    background-color: rgb(249,250,251);
    width: 880px;
    height: 100%;
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.text
{
    margin-left: 50px;
    margin-right: 130px;
    transform: translateY(50px);
}
.text p
{
    font-size: 22px;
    font-weight: bold;
}
.text p span
{
    font-style: italic;
}
.third-text
{
    transform: translateY(30px);
}
.form
{
    background-color: white;
    height: 300px;
    width: 100%;
    justify-content: center;
    padding-left: 50px;
    padding-right: 130px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form p
{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
form
{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.45fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px 5px;
}
.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
label
{
    height: fit-content;
    margin-bottom: 10px;
}
label span
{
    font-size: 12px;
    font-weight: bold;
    color: rgb(70, 66, 66);
}
input
{
    padding: 5px;
    height: 33px;
    width: 80%;
    padding: 0.75rem;
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: white;
    border: 1px solid #ddd;
}
input[type="password"]
{
    outline: none;
    border: 1px solid red;
}
input:focus
{
    outline: none;
    border: 1px solid blue;
}
input:active
{
    outline: none;
    border: 1px solid blue;
}
.account-verification
{
    margin-left: 50px;
    transform: translateY(-90px);
}
.btn
{
    width: 230px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: rgba(69, 102, 64, 0.9);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
}
.account
{
    margin-top: 30px;
    font-weight: bold;
}
.account a
{
    text-decoration: none;
    color: rgba(69, 102, 64, 0.9);
    font-weight: bold;
}